.popup__container {
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  width: 430px;
  height: 330px;
  background: #fff;
  border-radius: 10px;
  z-index: 2;
}

@media screen and (max-width: 568px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}
